{% extends 'base.html'%}

{% block title %}
图像旋转
{% endblock %}

{% block content %}
<div>
	{% load static %}
	<img src="{% static "stuff/lena.jpg" %}" />
	<img id="rotated_image"/>
</div>
<div style="margin-top:20px">
	<script type="text/javascript">
		function load_rotated_image(url, tag_id) {
			url += '?angle=' + $("#rotate_angle").val();
			load_image(url, tag_id);
		}
	</script>
	<input id="rotate_angle" type="text" style="width:30px" value="30" />
	<button id="invert_color_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
	style="font-size:14px"
	onclick="load_rotated_image('{% url RotateImage.views.get_rotated_image %}','rotated_image')">
		单击显示旋转图像
	</button>
</div>
{% endblock %}
